@font-face {
  font-family: montserratMedium;
  src: url(./asset/Montserrat-Medium.ttf);
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: montserratMedium;

}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#colorpicker {
  position: absolute;
  appearance: none;
  width: 25px;
  height: 25px;
  right: 93%;
  top: 10%;
  border-radius: 7px;

}

.slider {
  position: absolute;
  right: 3%;
  top: 15%;
  appearance: none;
  -webkit-appearance: none;
  width: 20%;
  height: 25px;
  border-radius: 7px;
  background: #404076;
  outline: none;
  opacity: 1;
  z-index: 10;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 7px;
  background: #5a5aa0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 7px;
  background: #5a5aa0;
  cursor: pointer;
}

#colorPickerLabel {
  position: absolute;
  height: 25px;
  left: 8%;
  top: 10.5%;
  border-radius: 7px;
  color: rgb(123, 107, 231);
}

#widthSliderLabel {
  position: absolute;
  height: 25px;
  right: 3%;
  top: 10.5%;
  border-radius: 7px;
  color: rgb(123, 107, 231);
}